<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FACTS Grade Checker</title>

    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="col-lg-8 mx-auto p-3 py-md-5">
        <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
            <a href="/overview" class="d-flex align-items-center text-dark text-decoration-none">
                <span class="fs-4">How to use FACTS Grade Checker</span>
            </a>
        </header>

        <main>
          <p>
            Overview:<br>
            • <a href="/overview" ><kbd>site.com/overview</kbd></a>: See grades overview table<br>
            <br><br>
            Class Grades:<br>
            • <kbd>site.com/class/{classID}</kbd>: View grade sheet for class<br>
            <br><br>
            Updater:<br>
            • <a href="/update" ><kbd>site.com/update</kbd></a>: Updates the database and sends notification for changed data<br>
            <br><br>
            Database:<br>
            • <a href="/database" ><kbd>site.com/database</kbd></a>: View contents of database<br>
          </p>
        </main>

        <footer class="pt-5 my-5 text-muted border-top">
            Copyright &copy; <%= new Date().getFullYear() %> k4deng
        </footer>
    </div>

    <script src="/assets/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>