<!doctype html>
<html>
  
<head>
  
    <title><%= title %></title>
  
</head>
  
<body>

    <style>
      body {background: #333;}
      pre {color: white;}
    </style>
  
    <pre id="logger"><code><%- logs %></code></pre>

</body>
  
  
</html>